# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Sensitive local files
*.lic
*.pem
*.key
*.crt

# OS/editor
.DS_Store
.idea/
.vscode/
